.public {
  .wrapper {
    margin: 2em 0;
    height: 100%;
    .mb_nav_ {
      width: 851px;
      margin: 0 auto 0.4em;
      border-radius: 5px;
      background: #f8f9faa1;
      padding: 1em 1em;
      a {
        text-decoration: none;
        color: $cyan;
        font-size: 14px;
      }
      span {
        color: rgba($dark, 0.5);
      }
    }
    .search-section-container {
      background: #fff;
      box-shadow: -1px 0 20px rgba(47, 19, 67, 0.06);
      border-radius: 5px;
      width: 851px;
      min-height: 579px;
      padding: 0 0 4em;
      margin: 0 auto;
      .centralize {
        width: 700px;
        margin: 0 auto;
        padding: 2em 0em 0em;
        .title {
          text-align: center;
          padding: 2em 0em;
          h2 {
            font-size: 20px;
            font-weight: 600;
          }
          p {
            font-size: 14px;
            color: rgba($dark, 0.5);
            margin: 0;
          }
          span {
            width: 98px;
            height: 2px;
            background: rgba($dark, 0.1);
            display: flex;
            margin: 12px auto 0;
          }
        }
        @include form-wrap;
        @include list-item;
      }
    }
    .details-section-container {
      padding: 1em 5em;
      .mb_nav_ {
        width: auto;
      }
      .row {
        @include gallery;
        .details {
          margin-top: 1em;
          h3 {
            font-size: 25px;
            font-weight: bold;
          }
          p {
            font-size: 19px;
            margin-bottom: 0em;
            color: $green;
            font-weight: bold;
            line-height: 160%;
            span {
              display: block;
              font-size: 12px;
              color: rgba($dark, 0.5);
              font-weight: normal;
            }
          }
          label {
            font-size: 13px;
            margin-bottom: 0em;
            font-weight: bold;
            color: lightcoral;
            width: -webkit-fill-available;
          }
          .info_ ul {
            padding: 0em;
            list-style: none;
            li {
              color: rgba($dark, 0.5);
              margin: 0em 0em 1em;
              font-size: 13px;
              span {
                color: $dark;
              }
            }
          }
          @include brand-logo;
        }
        .features {
          margin: 3em 0em;
          @include facilities;
          .grid-container {
            display: grid;
            grid-column-gap: 10px;
            grid-template-columns: auto auto auto;
            list-style: none;
            padding: 0;
            li {
              margin-bottom: 1em;
              p {
                margin-bottom: 0em;
                color: $dark;
                font-weight: bold;
                span {
                  color: $green;
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
      .description {
        margin: 2em 0em;
        p {
          color: rgba($dark, 0.5);
          font-size: 14px;
        }
      }
    }
    .search-listings {
      width: 1000px;
      margin: 0 auto;
      .mb_nav_ {
        width: auto;
      }
      .row {
        .col-lg-4 {
          @include form-wrap;
          .form-wrap {
            padding: 1em 2em 3em;
            background: $light-blue;
            border-radius: 5px;
            .action {
              margin-top: 2em;
            }
            h2 {
              font-size: 20px;
              font-weight: bold;
              padding-bottom: 1em;
              border-bottom: 1px solid rgba(3, 114, 173, 0.17);
              margin-bottom: 1em;
            }
          }
        }
        .col-lg-8 {
          @include list-item;
        }
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .wrapper {
      margin: 4em 0.5em;
      .mb_nav_ {
        width: auto;
      }
      .search-section-container {
        width: auto;
        .centralize {
          width: auto;
          .form-wrap {
            padding: 1em;
            .collapse {
              padding: 2em 1em;
              .d-flex {
                align-items: flex-start !important;
              }
            }
            .d-flex {
              flex-direction: column;
              .mb-3 {
                &:first-child {
                  margin-right: 0em;
                }
              }
            }
          }
        }
      }
      .details-section-container {
        padding: 1em 0em;
        .row {
          .details {
            padding: 1em;
          }
          .features {
            padding: 1em;
            margin: 3em 0em 0em;
            .grid-container {
              display: flex;
              flex-direction: column;
            }
          }
        }
        .description {
          padding: 1em;
          margin: 0em;
        }
      }
      .search-listings {
        width: auto;
        .row {
          margin: 0 -6px;
          .col-lg-4 {
            margin-bottom: 1em;
            .form-wrap {
              padding: 1em 1em 2em;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper {
      margin: 4em 0.5em;
      .mb_nav_ {
        width: 600px;
      }
      .search-section-container {
        width: 600px;
        .centralize {
          width: 500px;
          .form-wrap {
            padding: 1em;
            .collapse {
              padding: 2em 1em;
            }
            .d-flex {
              flex-direction: column;
              .mb-3 {
                &:first-child {
                  margin-right: 0em;
                }
              }
            }
          }
        }
      }
      .details-section-container {
        padding: 1em 1em;
        .description {
          margin: 0em;
        }
      }
      .search-listings {
        width: auto;
        .row {
          margin: 0;
          .col-lg-4 {
            margin-bottom: 1em;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1680px) {
    .wrapper {
      min-height: 82vh;
    }
  }
}
