.public {
  .wrapper {
    margin: 4em 0;
    height: 100%;
    .mb_nav_ {
      width: 851px;
      margin: 0 auto 0.4em;
      border-radius: 5px;
      background: #f8f9faa1;
      padding: 1em 1em;
      a {
        text-decoration: none;
        color: $cyan;
        font-size: 14px;
      }
      span {
        color: rgba($dark, 0.5);
      }
    }
    .property-search {
      background: #fff;
      box-shadow: -1px 0 20px rgba(47, 19, 67, 0.06);
      border-radius: 5px;
      width: 851px;
      min-height: 579px;
      padding: 0 0 4em;
      margin: 0 auto;
      .centralize {
        width: 700px;
        margin: 0 auto;
        padding: 2em 0 4em;
        .title {
          text-align: center;
          padding: 4em 0 2em;
          h2 {
            font-size: 20px;
            font-weight: 600;
          }
          p {
            font-size: 14px;
            color: rgba($dark, 0.5);
            margin: 0;
          }
          span {
            width: 98px;
            height: 2px;
            background: rgba($dark, 0.1);
            display: flex;
            margin: 12px auto 0;
          }
        }
        .form-wrap {
          .collapse {
            box-shadow: rgba(47, 19, 67, 0.06) -1px 0px 20px;
            border-radius: 5px;
            padding: 2em;
          }
          .d-flex {
            .mb-3 {
              &:first-child {
                margin-right: 1em;
              }
            }
          }
          .alternate {
            margin: 1em 0 2em;
            position: relative;
            display: flex;
            justify-content: center;
            span {
              background: $white;
              position: relative;
              z-index: 2;
              color: rgba($dark, 0.5);
              padding: 0 1em;
              font-size: 14px;
            }
            &:after {
              content: "";
              position: absolute;
              width: -webkit-fill-available;
              height: 0.5px;
              background: #e7e7e7;
              left: 9px;
              top: 11px;
            }
          }
        }
        .list-item {
          box-shadow: -1px 0 20px rgba(47, 19, 67, 0.06);
          border-radius: 5px;
          padding: 2em 1em;
          transition: 0.5s ease;
          margin-bottom: 1em;
          .item {
            h3 {
              margin: 0;
              font-size: 26px;
              font-weight: bold;
            }
            img {
              width: 24%;
            }
            p {
              font-size: 15px;
              color: rgba($dark, 0.5);
              margin: 1em 0em;
              strong {
                display: flex;
                align-items: center;
                font-size: 24px;
                color: cadetblue;
              }
            }
            .naration {
              border: 1px dashed rgba(16, 16, 16, 0.1);
              padding: 2em;
              label {
                margin: 0 0em 1em;
                display: block;
                a {
                  color: $cyan;
                  text-decoration: underline;
                }
                &:last-child {
                  margin: 0em;
                }
              }
            }
          }
          &:hover {
            box-shadow: -1px 0 20px 15px rgba(47, 19, 67, 0.06);
          }
        }
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .wrapper {
      margin: 4em 0.5em;
      .mb_nav_ {
        width: auto;
      }
      .property-search {
        width: auto;
        .centralize {
          width: auto;
          .form-wrap {
            padding: 1em;
            .collapse {
              padding: 2em 1em;
            }
            .d-flex {
              flex-direction: column;
              .mb-3 {
                &:first-child {
                  margin-right: 0em;
                }
              }
            }
          }
          .list-item {
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper {
      margin: 4em 0.5em;
      .mb_nav_ {
        width: 600px;
      }
      .property-search {
        width: 600px;
        .centralize {
          width: 500px;
          .form-wrap {
            padding: 1em;
            .collapse {
              padding: 2em 1em;
            }
            .d-flex {
              flex-direction: column;
              .mb-3 {
                &:first-child {
                  margin-right: 0em;
                }
              }
            }
          }
        }
      }
    }
  }
}
