body,
html {
  box-sizing: content-box;
  text-rendering: geometricPrecision;
  scroll-behavior: smooth;
  @include work-sans;
}

.delay-2m {
  animation-delay: 550ms;
}
.delay-3m {
  animation-delay: 1100ms;
}
.delay-4m {
  animation-delay: 1250ms;
}
.delay-5m {
  animation-delay: 1400ms;
}
.delay-6m {
  animation-delay: 1550ms;
}
.delay-7m {
  animation-delay: 1700ms;
}
.delay-8m {
  animation-delay: 1850ms;
}
