.input {
  position: relative;
  margin-bottom: 1em;
  display: flex;
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  input[type="url"],
  select,
  input[type="tel"] {
    display: block;
    padding: 1em 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-size: 15px;
    background: $white;
    border: 1px solid rgba($cyan, 0.15);
    &::placeholder,
    &::-webkit-input-placeholder {
      color: rgba($dark, 0.5);
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
      background: $white;
    }
  }

  label {
    display: none;
  }
  &.list-item {
    display: flex;
    position: relative;
    width: 340px;
  }
  &.bordered {
    label {
      position: absolute;
      left: 16px;
      top: 16px;
      font-size: 15px;
      color: rgba($dark, 0.5);
      padding: 2px 5px;
      display: inline-block;
      opacity: 0;
      background: $white;
      pointer-events: none;
      transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    select,
    input[type="url"],
    input[type="tel"] {
      color: $dark;
      transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

      &::placeholder,
      &::-webkit-input-placeholder {
        color: rgba($dark, 0.5);
      }

      &:focus,
      &:active {
        background: $white;
        border: 1px solid $cyan;
      }

      &:focus {
        &::placeholder,
        &::-webkit-input-placeholder {
          opacity: 0;
        }
        & ~ label {
          top: -12px;
          opacity: 1;
        }
      }
    }
  }
  .select {
    color: $dark;
    background: url("../img/dropdown-arrow.svg") 95% center no-repeat $white !important;
    -webkit-appearance: none;
    position: relative;
  }
  input[type="checkbox"] {
    display: inline-block;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(#03293d, 0.5);
    border-radius: 7px;
    margin-right: 15px;
    margin-bottom: 0;
    cursor: pointer;
    &:focus,
    &:active {
      box-shadow: none;
      outline: none;
    }
    &:checked {
      background-color: #fff;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: -1px;
        top: -1px;
        bottom: -1px;
        right: -1px;
        border-radius: 7px;
        background-color: #1b9cfc;
        background-image: url(../img/check.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
        border: 2px solid #1b9cfc;
      }
    }
  }
  &.checker {
    label {
      display: block;
      color: $dark;
    }
  }
  &.search_ {
    input[type="text"] {
      border-radius: 5px;
      padding-right: 8.5em;
      height: 50px;
      background: $white;
    }
    .custom-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 55px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #d0f1f3;
      border: none;
      border-radius: 0 5px 5px 0;
      outline: 0;
      cursor: pointer;
      ion-icon {
        font-size: 24px;
        color: $white;
      }
    }
  }
}

.input-group-text {
  font-weight: bold;
  ion-icon {
    margin-left: 7px;
  }
}
.custom-select {
  height: 50px;
  &:focus {
    box-shadow: none;
  }
}
