@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@mixin work-sans {
  font-family: "WorkSans";
}
